<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link th:href="@{/css/style.css}" rel="stylesheet" href="../../static/css/style.css">
    <link href="webjars/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>

<main class="container mt-5">


    <div class="row text-center d-flex justify-content-center row mt-5 p-3">
        <h3 class="col-7 mt-3">Admin</h3>

        <a class="btn btn-success col-7 mt-5" href="/admin/add">Yangi foydalanuvchi qo'shish</a>
        <a class="btn btn-success col-7 mt-5" href="/admin/all">Foydalanuvchilarni ko'rish</a>

    </div>

</main>


</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script th:inline="javascript" th:src="@{/js/admin.js}" src="../../static/js/admin.js"></script>
<script th:inline="javascript" th:src="@{/js/js.js}" src="../../static/js/js.js"></script>

</html>