<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../static/css/bootstrap.min.css">
    <link th:href="@{/css/admin.css}" rel="stylesheet" href="../../../static/css/admin.css">
    <link rel="stylesheet" href="webjars/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}" href="../../../static/richtext/richtext.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Foydalanuvchi qo'shish</title>
</head>
<body>

<main class="container text-center d-flex justify-content-center">

    <div class="row text-center d-flex justify-content-center mt-2">
        <p class="col-md-8" id="error"></p>
        <h3 class="col-md-8">Maxsus vazifa qo'shish</h3>
        <input class="form-control col-md-8 mt-3" name="username" id="username" type="text" placeholder="username">
        <input class="form-control col-md-8 mt-3" name="title" id="title" type="text" placeholder="title">
        <input class="form-control col-md-8 mt-3" name="rank" id="rank" type="number" placeholder="rank">
        <input class="form-control col-md-8 mt-3" name="permission" id="permission" type="checkbox" placeholder="lastname">
        <input class="form-control col-md-8 mt-3" name="stdin" id="stdin" type="text" placeholder="stdin">
        <input class="form-control col-md-8 mt-3 mb-2" name="answer" id="answer" type="text" placeholder="answer">

        <textarea class="col-12 mt-2" placeholder="text" name="text" id="text">
        </textarea>

        <button onclick="addPTask()" class="btn btn-success col-md-8 mt-3 mb-3" type="submit">Qo'shish</button>

    </div>
</main>


</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script th:inline="javascript" th:src="@{/js/admin.js}" src="../../../static/js/admin.js"></script>
<script th:inline="javascript" th:src="@{/js/js.js}" src="../../../static/js/js.js"></script>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script type="application/javascript" th:inline="javascript" th:src="@{/richtext/jquery.richtext.min.js}" src="../../static/richtext/jquery.richtext.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#text').richText();
    })

</script>
</html>