<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../static/css/bootstrap.min.css">
    <link th:href="@{/css/admin.css}" rel="stylesheet" href="../../../static/css/admin.css">
    <link href="webjars/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}" href="../../../static/richtext/richtext.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Barcha userlar</title>
</head>
<body>

<header class="fixed-top">
    <a href="/admin" class="btn btn-success">Bosh sahifa</a>
</header>

<main class="container mt-5" id="root">

    <div  th:each="t: ${tasks}" class="row text-center d-flex justify-content-center mt-5">
        <div class="col-md-10 border shadow mt-2 p-3 list_user">
            <p class="border" th:utext="${t.id+': '+t.username}">Username</p>
            <p class="border" th:utext="${t.title}">Username</p>
<!--            <input type="hidden" th:value="${t.id}" name="id" th:id="${t.id}">-->
            <button th:value="${t.id}" onclick="getEditPTask(this.value)" class="btn btn-success float-left">Tahrirlash</button>
            <button class="btn btn-danger float-right">O'chirish</button>
        </div>
    </div>


</main>
<footer class="mb-5"></footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script th:inline="javascript" th:src="@{/js/admin.js}" src="../../../static/js/admin.js"></script>
<script th:inline="javascript" th:src="@{/js/js.js}" src="../../../static/js/js.js"></script>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script type="application/javascript" th:inline="javascript" th:src="@{/richtext/jquery.richtext.min.js}" src="../../static/richtext/jquery.richtext.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#text').richText();
    })

</script>

</html>