<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/style.css}" rel="stylesheet" href="../../static/css/style.css">
    <link href="webjars/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">    <title>Title</title>
</head>
<body>

</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script th:inline="javascript" th:src="@{/js/js.js}" src="../../static/js/js.js"></script>
</html>