<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="svg" th:href="@{css/logo.svg}" href="css/logo.svg" />
    <link rel="stylesheet" href="./css/about.css" th:href="@{/css/about.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Crazy Code</title>
</head>
<body>
<div class="container text-black bg-light">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Crazy Code</a>
        </ul>
    </nav>
    <p class="textME">Dasturlashni noldan o'rganmoqchimisiz unda Crazy Code sizga bu masalani yechishga yordam beradi.
        Hozirgi zamonda butun dunyoda dasturchilarga bo'lgan talab kun sayin ortib bormoqda. Bu talab O'zbekistonda ham o'sib bormoqda.
        Bunga misol Prezident Shavkat Mirziyoyevning Oliy Majlis Senati va Qonunchilik palatasiga qilgan Murojaatnomasida
        “2020 yil – Ilm- ma’rifat va raqamli iqtisodiyot yili” deb e’lon qilganidan korinib turibdi.
    <p class="textME1"><b>Xo'sh "Raqamli iqtisodiyot" ozi nima?</b></p>
    <div class="img "><img  class="img-thumbnail" src="https://static.sof.uz/crop/2/6/826__90_2607374615.png"></div>
    <p class="textME"> <b>Raqamli iqtisodiyot</b>– bu iqtisodiy, ijtimoiy va madaniy aloqalarni raqamli texnologiyalarni qo‘llash asosida amalga oshirish tizimidir.
        Ba’zida u internet iqtisodiyoti, yangi iqtisodiyot yoki veb-iqtisodiyot degan terminlar bilan ham ifodalanadi.
    </p>
    <p class="textME">
        Siz ham Crazy Code kurslarida C++ dasturlash tilini o'rganib raqamli texnologiyalarni ishlab chiqish uchun ilk qadamni qo'yasiz.
        kurslarimizni esa siz bu yerda ko'rishingiz <a href="/qani_ketdik">mumkin.</a>
    </p>
    </p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>