<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="svg" th:href="@{css/logo.svg}" href="css/logo.svg" />
    <link rel="stylesheet" href="./css/about.css" th:href="@{/css/about.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
<div class="container text-black bg-light">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Crazy Code</a>
        </ul>
    </nav>
    <div>
        <ol>
            <p class="textME1"><b>“C ++ asoslari” dasturlash - kursining batafsil rejasi</b></p>
            <li>
                C++ Basics
                <ul>
                    <li class="lister">C++ sintaksisi, ma’lumot tiplari, kiritish/chiqarish operatorlari</li>
                    <li class="lister">Tanlash va tarmoqlanish operatorlari</li>
                    <li class="lister">Takrorlanish operatorlari</li>
                    <li class="lister">Ko’rsatkich va funksiyalar</li>
                    <li class="lister">Massivlar</li>
                    <li class="lister">Belgili va satrli o’zgaruvchilar</li>
                    <li class="lister">Rekursiv funksiyalar</li>
                    <li class="lister">Fayllar bilan ishlash. Binar fayllar, matnli fayllar</li>
                    <li class="lister">Ma’lumotlarni murakkab tuzilmalari. Strukturalar</li>
                    <li class="lister">Preprotsessorlar. Matematik va satrli standart funksiyalar</li>
                    <li class="lister">Texnik vazifa yaratish</li>
                </ul>
            </li>
            <li>
                C++ OOP
                <ul>
                    <li class="lister">Klasslar va obyektlar</li>
                    <li class="lister">Konstruktor va destruktor</li>
                    <li class="lister">Vorislik</li>
                    <li class="lister">Polimorfizm</li>
                    <li class="lister">Dinamik massivlar</li>
                </ul>
            </li>
            <li>
                C++ Graphics
                <ul>
                    <li class="lister">C++ da grafik kutubxona bilan ishlash</li>
                </ul>
            </li>
        </ol>
    </div>
    <br>
    <br>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>